.env
logs
__pycache__
stdout_*.txt
.venv
.pytest_cache
.DS_Store
wandb
scripts/download_dataset
scripts/debug
scripts/plot_data_scaling.py
scripts/precompute_slice_feature/parallel_launch.sh
scripts/precompute_slice_feature/submit_all_variants.sh
figures
*.log
plans
