# Environment
.env
.venv

# Python
__pycache__
*.pyc
.pytest_cache
.ipynb_checkpoints

# macOS
.DS_Store

# Logs and outputs
logs/
stdout_*.txt
wandb/
figures/
scripts/plot_data_scaling.py
scripts/debug/
scripts/download_dataset/
scripts/pretrain/
scripts/eval/
scripts/precompute_slice_feature/*.sh
scripts/preprocess_dataset/*.sh